CSharpDebug/obj/CSharpDebug.csproj.nuget.dgspec.json
CSharpDebug/obj/Debug/net8.0/CSharpDebug.AssemblyInfoInputs.cache
CSharpDebug/obj/project.nuget.cache
CSharpDebug/obj/Debug/net8.0/CSharpDebug.AssemblyInfo.cs
CSharpDebug/bin/Debug/net8.0/CSharpDebug.dll
CSharpDebug/bin/Debug/net8.0/CSharpDebug.pdb
CSharpDebug/obj/Debug/net8.0/apphost.exe
CSharpDebug/obj/Debug/net8.0/CSharpDebug.assets.cache
CSharpDebug/obj/Debug/net8.0/CSharpDebug.csproj.CoreCompileInputs.cache
CSharpDebug/obj/Debug/net8.0/CSharpDebug.dll
CSharpDebug/obj/Debug/net8.0/CSharpDebug.GeneratedMSBuildEditorConfig.editorconfig
CSharpDebug/obj/Debug/net8.0/CSharpDebug.pdb
CSharpDebug/obj/Debug/net8.0/ref/CSharpDebug.dll
CSharpDebug/obj/Debug/net8.0/refint/CSharpDebug.dll
node_modules/
package-lock.json
package.json